

body {
    background-color: lightgray;
}



ul {
    list-style-type: none;
    font-size: large;
    overflow: hidden;
    background-color: black;
    margin: 0px;
    padding: 0px;
}

li {
    float: left;
    margin-right: 8px;
}

li a {
    color: white;
    display: block;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

li a:hover {
    color:thistle
}

h1, h3 {
    margin: 8px;
}